#header{
  background-color: tomato;
  text-align: center;
  color: white;

}
* {
  box-sizing: border-box;

}
h1{
  margin: 0px;
}
#article
#section{
  width: 70%;
  background-color: MediumSeaGreen;
  float: right;
  height: 400px;
  padding: 10px;
}

#nav{
background-color: DodgerBlue;
width: 30%;
float: left;
height: 400px;
padding: 10px;}
#nav ul{
  list-style-type: none;
  padding: 0px;
}
#footer{
  background-color: tomato;
  text-align: center;
  color: white;
  clear: both;
}
